<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="MetadataPublishEnabled" name="iSpindelService.iSpindelService">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          bindingConfiguration="SecurityByMe" name="endpointName"
          binding="webHttpBinding" contract="iSpindelService.IiSpindelService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <host>
          <baseAddresses>
            <add baseAddress="iSpindelService.se" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <bindings>
      <webHttpBinding>
        <binding name="SecurityByMe">
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <protocolMapping>
      <!-- removed basicHttpsBinding below in order to replace with WsHttpBinding -->
      <add binding="webHttpBinding" scheme="http" />
      <!-- Added wsHttpBinding -->
<!--       <add binding="wsHttpBinding" scheme="https" bindingConfiguration="SecurityBySSL"/>  -->
    </protocolMapping>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataPublishEnabled">
            <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
            <serviceMetadata httpGetEnabled="true" />
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>

    <!-- Enable CORS -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT" />
        <add name="Access-Control-Allow-Credentials" value="True" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>

</configuration>
