<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Configuration.ConfigurationBuilders.Base" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.Json" version="1.0.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
</packages>