<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <services>
    <service name="iSpindelServiceLibrary.iSpindelServiceLibrary">
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""

          contract="iSpindelServiceLibrary.IiSpindelServiceLibrary" />
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost/SelfHostedServiceConsole" />
        </baseAddresses>
      </host>
    </service>
  </services>
</configuration>